<ul>
  ${data.map(entry => `
  <li>Make: ${entry.make}</li>
  <li>Model: ${entry.model}</li>
  <li>Year: ${entry.year}</li>
  ` ).join('')}
</ul>
<hr />
<h1>Review</h1>
<ul>
  ${rev.map(entry => `
  <li><strong>Review:</strong> ${entry.review_text}</li>
  <hr />

  ` ).join('')}
</ul>
<hr />
<h1>Comments:</h1>
${com.map(entry => `
<li><strong>User: ${entry.username}</strong> ${entry.comment}</li>
<hr />

` ).join('')} ${ (!!is_logged_in) ? `
<form action="/" method="post">
  <input type="hidden" name="car_id" value="${data[0].id}" />
  <!-- change below to take in userid map -->
  <input type="hidden" name="user_id" value="${user_id}" />
  <label
    >Reply:
    <textarea
      name="comment"
      placeholder="My response..."
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <button type="submit">Submit</button>
  </label>
</form>
` : `
<p>Login to join the conversation</p>
` }
