<ul>
  <li>Make: ${make}</li>
  <li>Model: ${model}</li>
  <li>Year: ${year}</li>
</ul>
<hr />
<h1>Review</h1>
<ul>
  ${rev.map(entry => `
  <li><img src="/images/${entry.image}"></li>
  <li><strong>Review:</strong> ${entry.review_text}</li>
  <br>
  <li><Strong>Final Verdict: ${entry.stars}/5</Strong></li>
  <hr />
  ` ).join('')}
</ul>
<h1>Comments:</h1>
${com.map(entry => `
<li><strong>User: ${entry.username}</strong> ${entry.comment}</li>
<hr />
` ).join('')} ${ (!!is_logged_in) ? `
<form action="/" method="post">
  <input type="hidden" name="model_year" value="${year}" />
  <input type="hidden" name="model_name" value="${model}" />
  <input type="hidden" name="user_id" value="${user_id}" />
  <label
    >Reply:
    <textarea
      name="comment"
      placeholder="My response..."
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <button type="submit">Submit</button>
  </label>
</form>
` : `
<p>Login or Sign Up to join the conversation</p>
` }
