<h1> Sign Up </h1>
<form action="/users/signup" method="POST">
    <ul>
      <label>
        <input
          name="username"
          placeholder="Username"
        ></input>
        <br>
        <input
        name="email"
        placeholder="email address"
      ></input>
        <p>
        <input
          type="password"
          name="password"
          placeholder="password"
        ></input>
      </p>
      </label>
      <button type="submit">Sign up</button>
    </ul>
  </form>
