<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkidPad.io</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <i class="fas fa-home"></i>
        </a>
      </div>
      <div class="navbar-end">
        <!-- navbar items -->
        <div class="navbar-item">
          <div class="buttons">
            ${
              (!!is_logged_in) ?
              `
              <a class="button is-dark" href="/users/logout">
                Logout
              </a>
              ` 
              :
              `
              <a class="button is-dark" href="/users/login">
              Login
            </a>
            <a class="button is-dark" href="/users/signup">
              <strong>Sign up</strong>
            </a>
            `
          }
          </div>
        </div>
      </div>
    </nav>
    <main>${partial}</main>
  </body>
</html>
